
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body{
	background-color: #FFFFFF;
    background-image: linear-gradient(180deg, tomato 20%, #6284FF 50%, #FF0000 100%);

}

.qq{
      
     font-family: 'Anton', sans-serif;
     color: pink;
     font-style: italic;
}

 .yy:hover{
 	        transform: scale(1.3);
 }

.eo{
	color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.ot{

	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
	font-weight: bold;
	text-decoration: underline dotted red;

}

.ssc{
	font-family: 'Akaya Telivigala', cursive;
	text-shadow: 0 0 1px #FF0000, 0 0 5px #0000FF;
}

.qw{
	padding: 4px;
	margin: 4px;
	word-spacing: 15px;
}

.ere{
	font-size: 40px;
   text-align: center;
   font-weight: bold;
   text-shadow: -1px 0 yellow, 0 1px blue, 1px 0 red, 0 -1px red;
   font-family: 'Cedarville Cursive', cursive;  

}


.tre{
    margin: 4px;
    padding: 10px;
    text-align: center;

}

.wi:hover{
	transform: rotate(-7deg);
}

.animate__animated.animate__heartBeat {
  --animate-duration: 20s;
}

.animate__animated.animate__rubberBand {
  --animate-duration: 20s;
}

.o{
	text-align: left;
}

.right{
	text-align: right;
	padding: 4px;
	margin: 4px;
}

.eoi:hover{
	transform: scale(1.2);
}

.bu{
    font-size: 20px;
    text-orientation: upright;
}

.ro{
	text-align: right;
}



 .qwe{
       font-size:20px;
       color: red;
       font-style: italic;
       opacity: 1.2; 

 }